* {
  box-sizing: border-box;
}

body {
  padding: 3rem;
  font-family: Roboto, Arial, sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
  background: linear-gradient(to top, rgba(0, 98, 255, 0.504), rgba(0, 255, 128, 0.482));
}

.form-group {
  margin-bottom: 24px;
}

form {
  background: linear-gradient(to top, rgba(0,0,0,0.05)50%, rgba(0,0,0,0.05)50%);
  padding-top: 1rem !important;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 5px 5px 100px rgba(0,0,0,0.15), -5px -5px 100px rgba(0,0,0,0.15);
  border: 1px solid rgba(255, 255, 255, 0.229);
}

form h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #202124;
  margin-bottom: 4px;
}

input {
  width: 20rem;
  padding: 8px 10px;
  border: none;
  border-bottom: 1px solid #000000;
  font-size: 16px;
  font-weight: 400;
  color: #202124;
  background-color: transparent;
  transition: border-color 0.2s ease-in-out;

}

input:focus {
  border-bottom: 1px solid #000000;
  outline: none;
}

input::placeholder {
  color: rgba(86, 86, 86, 0.89);
}

.valid {
  border-bottom: 1px solid green;
}

.invalid {
  border-bottom: 1px solid crimson;
}

button {
  width: 100%;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:hover {
  opacity: 70%;
}

button:focus {
  outline: none;
}
